#foes {
  grid-column: 1 / 10;
}

#foes > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: -16px;
}

.main-foe {
  padding: 8px 16px;
  position: relative;
}

.main-foe > .cross {
  right: 12px;
  top: 20px;
  position: absolute;
  visibility: hidden;
  color: #000000aa;
  cursor: pointer;
  text-decoration: underline;
}

.main-foe:hover > .cross {
  visibility: visible;
}

.focused.main-foe {
  background-color: #00000011;
}
