li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

#main {
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  grid-template-columns: repeat(13, 1fr);
}

#main h1 {
  grid-column: 1 / 14;
}

#traits {
  grid-column: 10 / 14;
}
