li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

#main {
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  grid-template-columns: repeat(13, 1fr);
}

#main h1 {
  grid-column: 1 / 14;
}

#foes {
  grid-column: 1 / 10;
}

#traits {
  grid-column: 10 / 14;
}

.drawer {
  position: fixed;
  left: -420px;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 5px #88888888;
  height: 100%;
  overflow-y: scroll;
  transition: left 0.2s ease-in;
  width: 370px;
  padding: 0;
}

.drawer::-webkit-scrollbar {
  display: none;
}

.drawer > .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #888;
}

.drawer > .close-button:hover {
  color: black;
  text-decoration: underline;
}

.drawer div {
  padding: 0 16px;
}

.drawer input {
  padding: 4px;
}

.drawer.onscreen {
  left: 0;
  transition: left 0.2s ease-out;
}

.drawer h3 {
  margin: 0;
}

.drawer li {
  padding: 16px;
  background-color: white;
  transition: background-color 0.1s;
}

.drawer li:hover {
  background-color: #00000020;
  transition: background-color 0.1s;
}

.section-head {
  overflow: hidden;
  text-align: center;
  width: 100%;
  font-size: 0.9em;
}

.section-head > span {
  position: relative;
  display: inline-block;
  color: #666;
}

.section-head > span:before, .section-head > span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #aaa;
  width: 1000px;
  margin: 0 16px;
}

.section-head > span:before {
  right: 100%;
}

.section-head > span:after {
  left: 100%;
}
